* {
	font-family: "Bitter", serif;
	font-weight: 600;

}

nav {
	background-color: #e5c0cc;
}

#logo {
	height: 50px;
	width: 50px;
}

#brand {
	font-family: "Indie Flower", cursive;
}


#hero-img {
	height: 450px;
	width: 450px;
}

.btn-shop {
	background-color: #cf7b84;
}

h1, h2 {
	font-family: "Indie Flower", cursive;
	font-weight: 600;
}


